body {
    background-color: white;
    color: black;
    text-align: center;

}

.game-container {
    width: max-content;
    margin: auto;
}

.game-menu {
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;
    justify-content: space-between;
    padding: 5px;
}

table {
    border-collapse: collapse;
    min-width: 250px;
    min-height: 250px;
    table-layout: fixed;
}

.cell {
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: 2px solid black;
    background: #bbd2c5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00000080, #2b2b2b64);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#00000080, #2b2b2b64);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cell:hover {
    cursor: pointer;
    background: gray;
}

footer {
    text-align: end;
}